<div class="left-column">

</div>

<div class="right-column">
  <h2>Michael Mentele</h2>
  <div class="bio">
    <div class="headshot">
      <img src="assets/formal-headshot.jpg" alt="">
    </div>

    <p>I have a BS in Electrical Engineering and two years of experience as a Fortune 100 R&D power engineer working on critical infrastructure control algorithms shipped
      internationally at <a href="https://selinc.com/">SEL</a>.</p>

    <p>Last year I jumped the fence to full stack development. The change has been a long time coming; I built my first computer
    in middle school and built my first website when I was 15. If you're looking for code you can go straight to my <a href="https://github.com/michaelrmentele">Github</a>.
    Or, if you only have a few moments, checkout the table of contents for the write up of my latest project, <a href="http://www.opensourcewatch.io/story">Open Source Watch</a> (the slides for the presentation can be found at the bottom of this page).</p>

    <p>Oh, and feel free to connect with me on <a href="https://www.linkedin.com/in/michael-mentele/">LinkedIn!</a></p> 

    <h3>A Bit About Me</h3>
    <p>
      I am all about expansion. I love <a href="http://www.michaelrmentele.com/zero-to-backflip-3-hrs.html">learning new things</a>,
      I don't think <a href="http://www.michaelrmentele.com/learning.html">education</a> ever stops,
      I broke both feet overcommitting to <a href="http://www.michaelrmentele.com/marathon.html">running a marathon</a>,
      and I overcame not being able to walk by <a href="http://www.michaelrmentele.com/handwalking.html">picking up handwalking</a>.
      I am obsessed with feedback and have regular self-reviews. And I recommend Southeast Asia as a great place for backpacking.
    </p>

    <h3>Technical Interests</h3>
    <p>
      When I live alone, I tend to do things like organize my fruit by color and line up bell peppers in rows. I like clear separation,
      and organization and it shows in my code.
    </p>

    <p>I like big data and I'm fascinated by difficult computational problems that require heuristically driven algorithms. Recently, over 3 weeks in January, I co-created <a href="http://www.opensourcewatch.io">Open Source Watch</a>; an application consisting
    of 16+ processes scaled up and out across 8 servers making 2 million+ requests against Github per day and persisting
    20,000,000+ records to a relational database with a light AJAXified frontend. I also created a custom priority queue scheme that traded O(n) space for O(1) sorting time and granular control over
    job frequency distribution.You can see the full story at
    <a href="http://www.opensourcewatch.io/story">opensourcewatch.com/story.</a> For an overview, checkout the ToC.
    </p>

    <p>
      Lately, I've been using Ruby/Rails, and related tech, but consider myself tool agnostic.
      I've written a number of <a href="http://getmichaelonboard.com/blog">articles on Javascript</a> and considered myself grounded
      enough in the language to quickly pick up the framework flavor of the week. In the past
      I've written code in Assembly, VHDL, C++, <a href="http://www.michaelrmentele.com/portfolio.html">C#</a>, Python, and more,
      for dabbling in VR development, embedded robotics, and data science.
    </p>

    <h3>What I can Offer</h3>
    <p>
      I take a stake in the things I do. I own them. What I can offer is autonomous,
      smart, driven, team-centric contribution.
    </p>

    <h3>What I'm Looking For</h3>
    <p>I'm looking for a team where I can both contribute and grow. That team should authentically
    back a clear mission and obsess about the quality of its product and how that regards make an impact on its customers.</p>
  </div>

  <h2>Recent Project: Open Source Watch</h2>
  <small>*As presented at Seattle.rb, and South Sound Developer's Group.</small>
  <ul class="slideshow-links">
    <li>
      <a href="http://opensourcewatch.io">The Live Website</a>
    </li>
    <li>
      <a href="https://github.com/opensourcewatch/">The Repository</a>
    </li>
    <li>
      <a href="jekyll/update/opensourcewatch/data/2017/02/09/open-source-watch.html">The Article</a>
    </li>
  </ul>

  <br>

  <div>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/hX8zzo2YY4Y" frameborder="0" allowfullscreen></iframe>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/T06i_IdkBw4" frameborder="0" allowfullscreen></iframe>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/j8XS1ukRno4" frameborder="0" allowfullscreen></iframe>
  </div>

  <br>

  <div class="slideshow">
    <iframe src="https://docs.google.com/presentation/d/1f82JFNj5pwKudWdm0Z7s37WRFykR0gl5wdbAL2v-I5o/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>

  <br>

  <h2>More Projects</h2>

  <p>
    I've also built a number of other projects, these aren't tutorials, these are projects scoped and built 100% by me. I've cloned Yelp as <a href="http://kelp-business-review.herokuapp.com/">Kelp</a> to demonstrate third party integration (Stripe) and to practice adding roles, in this case for vendors, who can put on coupon sales for their business.
    I created a Trello-like app as <a href="https://michaelrmentele.github.io/client-side-apps/mrello-board/public/index.html">Mrello</a> that is a Backbone.js SPA that communicates to a Rails 5 API via signed JSON web tokens. Those are just a few, over Fall of 2016 I built dozens of learning projects, if you're looking for more stuff you can find old projects from when I was
    just getting started on github page <a href="https://michaelrmentele.github.io/">HERE.</a>
  </p>
</div>
