<div class="left-column">

</div>

<div class="right-column">
  <h2>Michael Mentele</h2>
  <div class="bio">
    <div class="headshot">
      <img src="assets/formal-headshot.jpg" alt="">
    </div>

    <p>I have a BS in Electrical Engineering and two years of experience as a Fortune 100 R&D power engineer working on critical infrastructure control algorithms shipped
      internationally at <a href="https://selinc.com/">SEL</a>.</p>

    <p>Last year I jumped the fence to full stack development. The change has been a long time coming; I built my first computer
    in middle school and began programming when I was 14.</p>

    <h3>A Bit About Me</h3>
    <p>
      I am all about expansion. I love <a href="http://www.michaelrmentele.com/zero-to-backflip-3-hrs.html">learning new things</a>,
      I don't think <a href="http://www.michaelrmentele.com/learning.html">education</a> ever stops,
      I broke both feet overcommitting to <a href="http://www.michaelrmentele.com/marathon.html">running a marathon</a>,
      and I overcame not being able to walk by <a href="http://www.michaelrmentele.com/handwalking.html">picking up handwalking</a>.
      I am obsessed with feedback and regularly <a href="http://www.michaelrmentele.com/2016---review-b.html">review myself</a>.
      I've been whooping my Dad and brother in 2v1 strategy games since I was 10 because I learn from every defeat. And I recommend Southeast Asia as a great place to backpack.
    </p>

    <h3>Technical Interests</h3>
    <p>
      When I live alone, I tend to do things like organize my fruit by color and line up bell peppers in rows. I like clear separation,
      and organization and it shows in my code.
    </p>

    <p>
      I like big data and I'm fascinated by difficult computational problems that require heuristically driven algorithms.
      In my last project, <a href="opensourcewatch.io">Open Source Watch</a> I scaled to several million requests per day
      against Github and created a custom priority queue scheme that allowed enque/dequeue in O(1) time and complete control over
      job frequency distribution.
    </p>

    <p>
      Lately, I've been using Ruby/Rails, and related tech, but consider myself tool agnostic.
      I've written a number of <a href="getmichaelonboard.com/blog">articles on Javascript</a> and considered myself grounded
      enough in the language to quickly pick up the framework flavor of the week. In the past
      I've written code in Assembly, VHDL, C++, <a href="http://www.michaelrmentele.com/portfolio.html">C#</a>, Python, and more,
      for dabbling in VR development, embedded robotics, and data science.
    </p>

    <h3>What I can Offer</h3>
    <p>
      I take a stake in the things I do. I own them. What I can offer is autonomous,
      smart, driven, team-centric contribution.
    </p>

    <h3>What I'm Looking For</h3>
    <p>I'm looking for a team where I can both contribute and grow. That team should authentically
    back a clear mission and obsess about the quality of its product.</p>
  </div>

  <div class="recording">

  </div>

  <br>

  <h2>Recent Project: Open Source Watch</h2>

  <ul class="slideshow-links">
    <li>
      <a href="http://opensourcewatch.io">The Live Website</a>
    </li>
    <li>
      <a href="https://github.com/opensourcewatch/">The Repository</a>
    </li>
    <li>
      <a href="#">The Article</a>
    </li>
  </ul>

  <br>

  <div class="slideshow">
    <iframe src="https://docs.google.com/presentation/d/1f82JFNj5pwKudWdm0Z7s37WRFykR0gl5wdbAL2v-I5o/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
</div>
