---
layout: default
---
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
<link rel="stylesheet" type="text/css" href="assets/resume.css" media="all" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
		$("#expander").click(function(){
			$("#experiments").slideDown();
			$("#experiments_overview").slideUp();
		});
	});
</script>

<body>

	<div id="doc2" class="yui-t7">
	<div id="inner" style="margin-top: 10px;">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Michael Mentele</h1>
					<h2>Full Stack Web Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<a  href="http://opensourcewatch.io/story"><h3 style="display: inline;"h3>OSW</h3></a>
						<a href="https://getmichaelonboard.com"><h3 style="display: inline;" >Blog</h3></a>
						<a href="https://github.com/michaelrmentele"><h3 style="display: inline;" >Github</h3></a>

						<h3><a href="mailto:michaelrmentele@gmail.com">michaelrmentele@gmail.com</a></h3>
						<h3>206 618 4282</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Summary</h2>
						</div>
						<div class="yui-u">
							<p>
								I am a tool agnostic full stack developer currently working with Ruby and Javascript but with prior exposure to C/C++, C#, Python and others. Most recently I co-created <a href="http://www.opensourcewatch.io/story">Open Source Watch</a> (OSW); a Ruby application tracking the top 100,000 repositories to find the 'heroes of open-source.' If you only have a few moments, checkout the ToC from the link above.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
	            <div class="job">

	              <div class="osw-splash" style="vertical-align: top;">
	  							<h2 style="display: block;"> Open Source Watch</h2>
	                <h4>Dec. 2016 - Present</h4>
	  							<small style="font-style: italic;">Tracking Open-Source Contributions</small>
	  							<img class="osw-logo" src="assets/osw-logo.png" alt="">
	  						</div>
	  						<div style="width: 64%; display: inline-block;">

	  							<ul class="osw-stats">
	  								<li>16+ scraper processes across 8 servers</li>
	  								<li>2,000,000+ requests per day</li>
	  								<li>CLI app for centralized monitoring and control</li>
	  								<li>Query time from 50s to 200ms with materialized views</li>
	  								<li>Hashed repeat jobs for granular control over job frequency</li>
										<li>Stack: Digitial Ocean, Redis, Ruby, Rails, jQuery, Postgres</li>
	  							</ul>
	  						</div>
	            </div>

							<div class="job">

								<h2>Schweitzer Engineering Labs</h2>
								<h3>Associate Power Engineer in R&D</h3>
								<h4>2013 - 2014</h4>
								<p>Authored specs, tests, and embedded control logic for critical infrastructure of international and domestic clients e.g. Saudi Aramco and PG&E.
								<br>
									&bull; Created 3+ new protection logic specifications and 10+ functional tests
									<br>
									&bull; Performed and/or automated 50+ functional tests across 10+ projects
									<br>
									&bull; Identified and owned 70+ logged system issues
							</div>

	            <div class="job last">
	              <h2>Schweitzer Engineering Labs</h2>
								<h3>Electrical Engineering Intern</h3>
								<h4>2012</h4>
								<p>Grokked and automated testing for a 26-page piece of reclosing logic interacting with multiple sub systems written by premier engineer while testing a new software tool resulting in a role created on graduation.</p>
							</div>
						</div>
					</div>

	        <div class="yui-gf">
						<div class="yui-u first">
							<h2>Projects</h2>
						</div>
						<div class="yui-u">

							<div class="talent">
								<h2><a href="https://michaelrmentele.github.io/frontend-projects.html">Frontend</h2></a>
								<p><a href="https://michaelrmentele.github.io/client-side-apps/simple-contacts/public/index.html#contacts">Simple Contacts</a> - Create contacts, search them, edit them, delete them. Built with Backbone.js
								</p>
								<br>
								<p><a href="https://michaelrmentele.github.io/client-side-apps/mrello-board/public/index.html">Mrello Client</a> - Backbone.js Trello-like client with drag and drop.
								</p>
							</div>

							<div class="talent">
								<h2><a href="https://michaelrmentele.github.io/backend-projects.html">Backend</a></h2>



								<p><a href="https://thawing-fjord-13747.herokuapp.com/">TinyUrl</a> - Design project. View <a href="https://github.com/MichaelrMentele/tinyurl">README</a> for thought process.</p>
								<br>

								<p><a href="https://mrm-todos.herokuapp.com/lists">Sinatra Todos</a> - Manage lists.</p>

								<br>

								<p><a href="https://github.com/MichaelrMentele/mrello-api">Mrello API</a> - Rails 5 RESTful API serving JWT secured JSON.</p>
							</div>

							<div class="talent">
								<h2><a href="https://michaelrmentele.github.io/">More</a></h2>

								<p><a href="http://www.michaelrmentele.com/portfolio.html">C# Unity Games</a> - Cloned games like Space Defender.</p>
								<br>

								<p><a href="https://github.com/MichaelrMentele/katas">Katas</a> - 100+ DS & Algorithms problems and coding exercises.</p>

								<br>

								<p><a href="https://github.com/MichaelrMentele/ruby_gems_scraper">Ruby Gems Scraper</a> - Scrapes gems with valid github pages.</p>
							</div>

						</div>
					</div><!--// .yui-gf-->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>University</h2>
							<p style="padding: 0;">2012</p>
						</div>
						<div class="yui-u">
							<h2>Washington State - Pullman, Wa</h2>
							<h3>BS, Electrical Engineering &mdash; President's Honor Roll</h3>
							&bull; Successfully led multi-national senior design team for Avista Utilities.
							<br>
							<!-- &bull; President's Honor Roll all four years. 3.8 GPA EE coursework. 3.9 GPA CS coursework.
							<br> -->
							<!-- &bull; CS 251 &mdash; Intro to programming using C and C++
							<br>
							&bull; CS 214 &mdash; VHDL/Verilog to build computer components (CLA, timers, flip-flops...)
							<br>
							&bull; CS 234 &mdash; Mips32 Assembly and C to program a Cerebot board to navigate a track. -->
						</div>

					<!-- 	<div class="yui-u">
							<br>
							<h2>MITx and UBCx</h2>
							<h3>Course Certificates &mdash; 2014</h3>
							&bull; Completed MIT's intro to computer science &mdash; 4.0
							<br>
							&bull; Completed UBC' systematic program design &mdash; 4.0
							<br>
						</div>

						<div class="yui-u">
							<br>
							<h2>Launchschool</h2>
							<h3>Web Development &mdash; 2016</h3>
						</div> -->

					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->



		</div><!--// bd -->
<p style="text-align: center">Michael Mentele &mdash; <a href="mailto:michaelrmentele@gmail.com">michaelrmentele@gmail.com</a> &mdash; 206 618 4282
		</p>

</div><!-- // inner -->


</div><!--// doc -->
{% if jekyll.environment == 'production' %}
    {% include analytics.html %}
{% endif %}
